/*
footer with dark container
*/

#footer_1a {
	width:965px;
	margin:0px auto;
	color:#eaeaea;
	font-weight:bold;
}
#footer_1b {
	width:958px;
	padding:50px 0 0 0;
	margin-left:auto;
}
#footer_1b .footer_links {
	text-align:center;
	padding:30px 0 55px 0;
}

#footer_1b a {
	color:#eaeaea;
	padding:0 5px;
}
